/* for mobile device */
@media screen and (max-width: 576px) {
  /* nav section  */
  nav {
    flex-direction: column;
    padding: 20px 0 60px;
  }
  nav .menu {
    gap: 7px;
    flex-direction: column;
  }
  /* hero section */
  .hero-area {
    gap: 50px;
    flex-direction: column-reverse;
  }
  .hero-content {
    text-align: center;
  }
  .hero-content h1 {
    font-size: 2.6rem;
  }
  /* company section */
  .company-logo-area {
    padding: 40px 0px;
  }
  .company-logo-img {
    padding: 5px 4px;
    flex-wrap: wrap;
    gap: 12px;
  }
  .company-logo-img img {
    width: 21%;
  }
}
