/* for mobile device */
@media screen and (max-width: 576px) {
  /* nav section  */
  nav {
    flex-direction: column;
    padding: 20px 0 60px;
  }
  nav .menu {
    gap: 7px;
    flex-direction: column;
  }
  /* hero section */
  .hero-area {
    gap: 50px;
    flex-direction: column-reverse;
  }
  .hero-content h1 {
    font-size: 2.6rem;
  }
}
