/* for mobile device */
@media screen and (max-width: 576px) {
  /* nav section  */
  .container {
    width: 90%;
  }

  nav {
    width: 100%;
    padding: 20px;
  }
  nav .hamburger-menu {
    display: inline-block;
  }
  nav h2 {
    font-size: 1rem;
  }
  nav ul.menu li {
    display: none;
  }
  nav ul.menu li:nth-child(6) {
    display: inline-block;
    margin-top: 10px;
  }

  /* hero section */
  .hero-area {
    gap: 14px;
    flex-direction: column-reverse;
  }
  .hero-content {
    text-align: center;
  }
  .hero-content h1 {
    font-size: 1.7rem;
    line-height: 40px;
  }
  .hero-content p {
    font-size: 0.9rem;
    font-weight: 500;
  }
  /* company section */
  .company-logo-area {
    padding: 40px 0px;
  }
  .company-logo-img {
    padding: 5px 4px;
    flex-wrap: wrap;
    gap: 12px;
  }
  .company-logo-img img {
    width: 21%;
  }

  /* collection section */
  .collection-area h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .collection-area .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-bottom: 32px;
  }
  .single-card .card-content h3 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .card-content p.card-price {
    font-weight: 700;
  }
  .card-content .rating-area span {
    font-weight: 500;
  }
  .card-content .card-desc p {
    font-weight: 400;
  }
  .card-content .card-desc p:nth-child(1),
  .card-content .card-desc p:nth-child(2) {
    display: inline-block;
  }

  /* feature section */
  .features-area {
    padding: 40px 0;
    flex-direction: column-reverse;
    gap: 15px;
  }
  .features-img img {
    width: 100%;
  }
  .features-content {
    text-align: center;
  }
  .features-content h2 {
    font-size: 1.5rem;
  }
  .features-content p {
    margin-bottom: 30px;
  }

  /* footer section */
  .footer-area h3 {
    font-size: 1rem;
  }
  .footer-area p {
    font-size: 0.7rem;
  }
  .social-link {
    margin-top: 10px;
  }
  .social-link a {
    margin-right: 10px;
  }
}
