@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* shared style */

:root {
  --text-dark: #3a3a3a;
  --text-more-dark: #18191f;
  --text-white: #ffffff;
  --bg-pink: #e02c6d;
  --bg-light-gray: #aaaaaa;
}
.container {
  margin: 0 auto;
  width: 83%;
  max-width: 1200px;
}
.btn {
  padding: 10px 24px;
  color: var(--text-white);
  background-color: var(--bg-pink);
  border-radius: 40px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}

/* main style */

/* nav area */
nav {
  width: 83%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .hamburger-menu {
  display: none;
}
nav h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-dark);
}
nav .menu {
  list-style-type: none;
  display: flex;
  gap: 34px;
}
nav .menu li a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}
nav .menu li a img {
  width: 25px;
}

/* hero section */

.hero-area {
  display: flex;
  gap: 130px;
  align-items: center;
}

.hero-content h1 {
  font-size: 3.2rem;
  color: var(--text-dark);
  line-height: 70px;
}

.hero-content p {
  margin: 16px 0;
  font-size: 1rem;
  color: var(--text-dark);
  font-weight: 600;
  max-width: 500px;
}
.hero-content button i {
  margin-left: 8px;
}

.hero-img {
  position: relative;
}
.hero-img .hero-bg {
  width: 100%;
}
.camera-img {
  position: absolute;
  top: 42px;
  max-width: 440px;
  right: 41px;
}
.camera-img img {
  width: 100%;
}

/* Company Section */
.company-logo-area {
  padding: 100px 30px;
}
.company-logo-img {
  display: flex;
  justify-content: space-between;
  padding: 35px 60px;
  align-items: center;
  border: 1px solid rgba(192, 204, 218, 0.3);
}

/* collection section */

.collection-area h2 {
  font-size: 1.8rem;
  color: var(--text-dark);
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}
.single-card {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 14px;
}
.single-card .card-img img {
  width: 100%;
}
.single-card .card-content h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-more-dark);
  margin-top: 16px;
  line-height: 40px;
}
.card-content p.card-price {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 6px;
}
.card-content .rating-area {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
}
.card-content .rating-area img {
  width: 25%;
}
.card-content .rating-area span {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  color: #5e6366;
  line-height: 22px;
}
.card-content .card-desc p {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  color: #787885;
  line-height: 143%;
}
.explore-btn {
  display: flex;
  justify-content: flex-end;
}
.explore-btn .btn {
  border-radius: 0;
  background-color: transparent;
  color: rgba(224, 44, 109, 0.87);
  padding: 0px 0px;
}
.explore-btn .btn i {
  margin-left: 10px;
}
