@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* shared style */

:root {
  --text-dark: #3a3a3a;
  --text-white: #ffffff;
  --bg-pink: #e02c6d;
}
.container {
  margin: 0 auto;
  width: 83%;
  max-width: 1200px;
}

/* main style */

/* nav area */
nav {
  width: 83%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: greenyellow; */
}
nav h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-dark);
}
nav .menu {
  list-style-type: none;
  display: flex;
  gap: 34px;
}
nav .menu li a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}
nav .menu li a img {
  width: 25px;
}

/* hero section */

.hero-area {
  display: flex;
  gap: 130px;
  align-items: center;
}

.hero-content h1 {
  font-size: 3.2rem;
  color: var(--text-dark);
  line-height: 70px;
}

.hero-content p {
  margin: 16px 0;
  font-size: 1rem;
  color: var(--text-dark);
  font-weight: 600;
}
.hero-content button {
  padding: 10px 24px;
  color: var(--text-white);
  background-color: var(--bg-pink);
  border-radius: 40px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}
.hero-content button i {
  margin-left: 8px;
}

.hero-img {
  position: relative;
}
.hero-img .hero-bg {
  width: 100%;
}
.camera-img {
  position: absolute;
  top: 42px;
  max-width: 440px;
  right: 41px;
}
.camera-img img {
  width: 100%;
}

/* todo: make the hero section */
